:root {
  --main-bg-color: #a6c9ff;
  --text-color: #ffffff; }

.page {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 45px;
  color: var(--text-color);
  max-width: 1170px;
  margin: 0 auto;
  min-height: 100vh; }

:root {
  --main-bg-color: #a6c9ff;
  --text-color: #ffffff; }

.page-header {
  position: relative;
  display: flex;
  align-items: flex-end;
  background-color: #b47ff6;
  padding-top: 55px;
  padding-bottom: 48px;
  margin-bottom: 40px; }

.page-header-burger {
  background-color: inherit;
  border: none;
  width: 44px;
  cursor: pointer; }

.page-header__popup {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--main-bg-color);
  padding: 33px 65px; }

:root {
  --main-bg-color: #a6c9ff;
  --text-color: #ffffff; }

.page-footer {
  background-color: #D87FF6;
  min-height: 100px;
  display: flex; }

.page-footer__nav {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  min-width: 600px;
  justify-content: space-between; }

:root {
  --main-bg-color: #a6c9ff;
  --text-color: #ffffff; }

.page-main {
  background-color: var(--main-bg-color); }

:root {
  --main-bg-color: #a6c9ff;
  --text-color: #ffffff; }

.main-nav {
  margin-left: 155px;
  margin-right: auto; }

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 60px; }

:root {
  --main-bg-color: #a6c9ff;
  --text-color: #ffffff; }

.secondary-nav {
  background-color: var(--main-bg-color);
  padding: 33px 65px; }

:root {
  --main-bg-color: #a6c9ff;
  --text-color: #ffffff; }

:root {
  --main-bg-color: #a6c9ff;
  --text-color: #ffffff; }

.banner {
  background-color: #7029cb;
  display: flex;
  padding: 50px; }

.banner__title {
  font-size: 45px;
  margin-right: 32px; }

.banner__arrow {
  background: none;
  width: 40px;
  height: 40px;
  border: 2px solid;
  border-bottom: none;
  border-right: none; }
  .banner__arrow--left {
    order: -1;
    margin-right: auto;
    transform: rotate(-45deg); }
  .banner__arrow--right {
    margin-left: auto;
    transform: rotate(135deg); }

:root {
  --main-bg-color: #a6c9ff;
  --text-color: #ffffff; }

.features__wrapper {
  display: grid;
  grid-template-columns: 392px 1fr 162px;
  grid-template-rows: auto auto;
  gap: 13px;
  counter-reset: features__block; }

.features__block {
  background-color: #3ade4b;
  padding: 68px 0;
  display: flex; }
  .features__block:nth-child(2) {
    grid-column: 2/-1; }
  .features__block:nth-child(3) {
    grid-column: 1/3; }
  .features__block::before {
    counter-increment: features__block;
    content: counters(features__block, "");
    margin: auto;
    font-size: 53px;
    font-weight: 400; }

:root {
  --main-bg-color: #a6c9ff;
  --text-color: #ffffff; }

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px; }

.info-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 25px;
  margin-bottom: 40px;
  padding: 25px;
  background-color: #d4ff5a; }

.info__item {
  width: 198px;
  height: 198px;
  background-color: #497957;
  border: 2px solid #00ff4a;
  border-radius: 35px; }
  .info__item:hover {
    box-shadow: 2px 5px 10px #497957; }

.info__text {
  color: #F3F3F3;
  margin-bottom: 10px; }

:root {
  --main-bg-color: #a6c9ff;
  --text-color: #ffffff; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0); }

.section-title {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  margin: 40px; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  color: inherit; }

ul[class],
ol[class] {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

img {
  max-width: 100%; }
