:root {
  --main-bg-color: #a6c9ff;
  --text-color: #ffffff; }

.page {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 45px;
  color: var(--text-color);
  max-width: 1170px;
  margin: 0 auto; }

.page__wrapper {
  background-color: var(--main-bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

:root {
  --main-bg-color: #a6c9ff;
  --text-color: #ffffff; }

.page-header {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #b47ff6;
  padding-top: 53px;
  padding-bottom: 48px; }

.page-header-burger {
  background-color: inherit;
  border: none;
  width: 44px;
  height: 24px;
  margin-right: 20px;
  cursor: pointer; }
  @media screen and (min-width: 650px) {
    .page-header-burger {
      margin-right: 60px; } }

.page-header__popup {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 450px;
  height: 500px;
  background-color: var(--main-bg-color);
  border: 1px solid #00FF4A;
  border: 1; }
  .page-header__popup--open {
    display: block; }

:root {
  --main-bg-color: #a6c9ff;
  --text-color: #ffffff; }

.page-footer {
  background-color: #D87FF6;
  min-height: 100px;
  display: flex;
  padding-right: 7px;
  margin-top: auto; }

.page-footer__nav {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 785px;
  padding: 0 20px;
  justify-content: space-between; }

:root {
  --main-bg-color: #a6c9ff;
  --text-color: #ffffff; }

.page-main {
  background-color: var(--main-bg-color);
  padding: 40px 0; }

:root {
  --main-bg-color: #a6c9ff;
  --text-color: #ffffff; }

.main-nav {
  margin-left: 20px;
  margin-right: auto; }
  @media screen and (min-width: 650px) {
    .main-nav {
      margin-left: 155px; } }

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; }
  @media screen and (min-width: 650px) {
    .main-nav__list {
      gap: 20px 60px; } }

.main-nav__item:first-child .main-nav__link {
  text-decoration: underline; }

.main-nav__link:hover {
  text-decoration: underline; }

:root {
  --main-bg-color: #a6c9ff;
  --text-color: #ffffff; }

.secondary-nav {
  display: flex;
  flex-direction: column;
  gap: 39px;
  padding-top: 33px;
  padding-left: 65px;
  margin-bottom: 55px; }

.secondary-nav__button {
  margin: 0 auto; }

:root {
  --main-bg-color: #a6c9ff;
  --text-color: #ffffff; }

.popup {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0.5s;
  visibility: hidden;
  opacity: 0; }
  .popup:target {
    visibility: visible;
    opacity: 1; }

.popup__body {
  position: fixed;
  width: 400px;
  height: 400px;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
  background-color: var(--main-bg-color); }

.popup__wrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%; }

.popup__text {
  text-align: center;
  margin: auto; }

.popup__close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  background-color: #497957;
  border-radius: 5px; }
  .popup__close::before {
    content: "X";
    text-align: center;
    font-weight: 400;
    font-size: 20px; }

:root {
  --main-bg-color: #a6c9ff;
  --text-color: #ffffff; }

.popup-button {
  display: block;
  width: 220px;
  height: 48px;
  text-align: center;
  font-size: 20px;
  line-height: 48px;
  font-weight: 400;
  background: #ff4b4b;
  border-radius: 25px; }
  .popup-button:hover {
    box-shadow: 2px 5px 10px #497957; }
  @media screen and (min-width: 650px) {
    .popup-button {
      width: 262px;
      height: 58px;
      font-size: 24px;
      line-height: 58px; } }

:root {
  --main-bg-color: #a6c9ff;
  --text-color: #ffffff; }

.banner {
  background-color: #7029cb;
  display: flex;
  align-items: center;
  padding: 20px;
  min-height: 176px; }
  @media screen and (min-width: 850px) {
    .banner {
      padding: 50px; } }

.banner-slide {
  display: none;
  padding: 15px; }
  .banner-slide--active {
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
  @media screen and (min-width: 850px) {
    .banner-slide {
      padding: 0;
      padding-right: 100px; } }

.banner__title {
  font-size: 35px;
  line-height: 45px;
  margin-right: 15px;
  padding-bottom: 10px; }
  @media screen and (min-width: 650px) {
    .banner__title {
      font-size: 45px;
      margin-right: 32px; } }

.banner__arrow {
  background: none;
  margin: 0;
  width: 50px;
  height: 50px;
  background-image: url(../../img/arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer; }
  .banner__arrow--left {
    order: -1;
    margin-right: auto; }
  .banner__arrow--right {
    margin-left: auto;
    transform: rotate(180deg); }
  @media screen and (min-width: 650px) {
    .banner__arrow {
      width: 78px;
      height: 78px; } }

:root {
  --main-bg-color: #a6c9ff;
  --text-color: #ffffff; }

.features__wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 198px 198px;
  gap: 13px;
  counter-reset: features__block; }
  @media screen and (min-width: 650px) {
    .features__wrapper {
      grid-template-columns: 392px 1fr 162px;
      grid-template-rows: 198px 198px; } }

.features__block {
  background-color: #3ade4b;
  padding: 68px 0;
  display: flex; }
  .features__block:nth-child(2) {
    grid-column: 2/-1; }
  .features__block:nth-child(3) {
    grid-column: 1/3; }
  .features__block::before {
    counter-increment: features__block;
    content: counters(features__block, "");
    margin: auto;
    font-size: 53px;
    font-weight: 400; }

:root {
  --main-bg-color: #a6c9ff;
  --text-color: #ffffff; }

.info {
  display: flex;
  flex-direction: column;
  align-items: center; }

.info-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  margin: 0 25px;
  margin-bottom: 40px;
  padding: 25px;
  width: calc(100% - 50px);
  background-color: #d4ff5a;
  border-radius: 35px; }

.info__item {
  background-color: #497957;
  border: 2px solid #00ff4a;
  border-radius: 17%;
  aspect-ratio: 1 / 1; }
  .info__item:hover {
    box-shadow: 2px 5px 10px #497957; }

.info__text {
  color: #F3F3F3;
  padding-bottom: 10px; }

:root {
  --main-bg-color: #a6c9ff;
  --text-color: #ffffff; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0); }

.section-title {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  margin: 40px;
  padding-top: 2px; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  color: inherit; }

ul[class],
ol[class] {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

img {
  max-width: 100%; }
