.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }
  
  .section-title {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    margin: 40px;
  }