@import "../variables.scss";

.banner {
  background-color: #7029cb;
  display: flex;
  align-items: center;
  padding: 50px;
  min-height: 176px;
}

.banner-slide {
  display: none;
  &--active {
    display: flex;
    align-items: center;
  }
}

.banner__title {
  font-size: 45px;
  margin-right: 32px;
}

.banner__arrow {
  background: none;
  margin: 0;
  width: 60px;
  height: 60px;
  background-image: url(../../img/arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  &--left {
    order: -1;
    margin-right: auto;
  }

  &--right {
    margin-left: auto;
    transform: rotate(180deg);
  }
}
