@import "../variables.scss";

.banner {
  background-color: #7029cb;
  display: flex;
  padding: 50px;
}

.banner__title {
  font-size: 45px;
  margin-right: 32px;
}

.banner__arrow {
  background: none;
  margin: 0;
  width: 40px;
  height: 40px;
  border: 2px solid;
  border-bottom: none;
  border-right: none;

  &--left {
    order: -1;
    margin-right: auto;
    transform: rotate(-45deg);
  }

  &--right {
    margin-left: auto;
    transform: rotate(135deg);
  }
}
