@import "../variables.scss";

.main-nav {
  margin-left: 20px;
  margin-right: auto;

  @media screen and (min-width: 650px) {
    margin-left: 155px;
  }
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @media screen and (min-width: 650px) {
    gap: 20px 60px;
  }
}

.main-nav__item:first-child .main-nav__link {
  text-decoration: underline;
}

.main-nav__link {
  &:hover {
    text-decoration: underline;
  }
}
