@import "../variables.scss";

.page {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 45px;
  color: var(--text-color);
  max-width: 1170px;
  margin: 0 auto;
}

.page__wrapper {
  background-color: var(--main-bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
