@import "../variables.scss";

.page-header {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #b47ff6;
  padding-top: 53px;
  padding-bottom: 48px;
}

.page-header-burger {
  background-color: inherit;
  border: none;
  width: 44px;
  height: 24px;
  margin-right: 60px;
  cursor: pointer;
}

.page-header__popup {
  display: none;

  position: absolute;
  top: 0;
  left: 0;

  width: 450px;
  height: 500px;
  background-color: var(--main-bg-color);
  border: 1px solid #00FF4A;
  border: 1;
  &--open {
    display: block;
  }
}
