@import "../variables.scss";
.popup-button {
  display: block;
  width: 262px;
  height: 58px;
  text-align: center;
  font-size: 24px;
  line-height: 58px;
  font-weight: 400;
  background: #ff4b4b;
  border-radius: 25px;
  &:hover {
    box-shadow: 2px 5px 10px #497957;
  }
}
